body{
    background: black;
    text-decoration: none;
  }


@font-face {
    font-family: 'Titania';
    font-style: normal;
    font-weight: normal;
    src: local('Titania-Regular'), url('Titania-Regular.woff') format('woff');
    src: local('Titania-Regular'), url('Titania-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Titania Outline';
    font-style: normal;
    font-weight: normal;
    src: local('Titania-Outline'), url('Titania-Outline.woff') format('woff');
    src: local('Titania-Outline'), url('Titania-Outline.ttf') format('truetype');
}

@font-face {
    font-family: 'Titania Shadow';
    font-style: normal;
    font-weight: normal;
    src: local('Titania-Shadow'), url('Titania-Shadow.woff') format('woff');
    src: local('Titania-Shadow'), url('Titania-Shadow.ttf') format('truetype');
}


.hero{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: url(OA4.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*This is the second hero picture*/
.hero2{
  width: 100vw;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: url(OA3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
    font-family:Titania Shadow;
    text-align: center;
    color:white;
    margin-bottom: 5%;
}
.openbtn{
    font-family: Titania;
}

.sidebar{
    font-family: Titania;
}


/*footer*/
/*FOOTER START///////////////////*/

footer{
    padding: 50px 0 20px 0;
    background-color: black;
    color:white;
}



hr{
    border-style: none;
    border-top-style:solid;
    border-color: white;
    border-width: 5px;
    width: 50%;
}

a{
    color: white;
    text-decoration: none;
    font-size: 100%;
}
h1{
    font-family: Titania Shadow;
    font-size:130px;
    color:white;
}
h4{
    font-family: Titania Shadow;
    font-size: 20px;
}

h6{
    font-family: Titania;
    font-size: 15px;
}

p{
  font-family: Titania;
  font-size: 15px; 
  color: black; 
}

span{
    border-style: solid;
    border-radius:0px;
    background:white;
    color:black;
    font-size:25px;
    padding:10px;
}
